name: Build Docker Image

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Log in to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          outputs: |
            type=docker,rewrite-timestamp=true
          tags: ghcr.io/sjinks/gauntlt:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          no-cache: ${{ github.event_name == 'workflow_dispatch' }}

      - name: Run tests
        run: |
          mkdir -m 0777 tmp
          docker run --rm -v $(pwd):/working -w /working ghcr.io/sjinks/gauntlt:latest

      - name: Push image
        if: github.event_name != 'pull_request'
        run: |
          docker push ghcr.io/sjinks/gauntlt:latest
