name: Build Docker Image

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log in to ghcr.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6.19.1
        with:
          outputs: |
            type=docker,rewrite-timestamp=true
          tags: ghcr.io/sjinks/gauntlt:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          no-cache: ${{ github.event_name == 'workflow_dispatch' }}

      - name: Run tests
        run: |
          mkdir -m 0777 tmp
          docker run --rm -v $(pwd):/working -w /working ghcr.io/sjinks/gauntlt:latest

      - name: Push image
        if: github.event_name != 'pull_request'
        run: |
          docker push ghcr.io/sjinks/gauntlt:latest
